/*
Use CSS to do styling for app.js file.
*/

.app_header {
  background-image: linear-gradient(to right bottom, rgb(230, 0, 125), rgb(231, 38, 71));
  color: #FFFFFF;
  padding: 10px 0 20px;
}

.app_title {
  margin-bottom: 1rem;
  text-align: center;
}

.app_form {
  text-align: center;
}

.app_inputTitle {
  background-color: #F1F1F1;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  padding: 0.75rem;
  width: 300px;
}

.app_channels {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.channelCard {
  box-shadow: 1px 1px 10px #CACACA;
  margin: 1rem;
  padding: 1rem;
}

.channelCard_top {
  display: flex;
}

.channelCard_img {
  max-width: 72px;
}

.channelCard_title {
  font-weight: 600;
}

.channelCard_rightSection {
  margin-left: 1rem;
}

.channelCard_bottom {
  margin-top: 1.5rem;
}

.channelCard_button {
  background-image: linear-gradient(to right bottom, #FFFFFF, #FFFFFF);
  border: 1px solid rgb(230, 0, 125);
  color: rgb(230, 0, 125);
  padding: 4px 8px;
  text-decoration: none; 
}

.channelCard_button:hover {
  background-image: linear-gradient(to right bottom, rgb(230, 0, 125), rgb(231, 38, 71));
  border-radius: 5px;
  color: #FFFFFF;
  transition: 0.25s;
}

@media (min-width: 768px) {
  .channelCard {
    width: 40%;
  }

  .app_channels {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .channelCard {
    width: 25%;
  }
}



