.app {

}

.app__header {
  background-image: linear-gradient(to right bottom, rgb(230, 0, 125), rgb(231, 38, 71));
  color: #FFF;
  padding: 10px 0 20px;
}

.app__form {
  text-align: center;
  justify-content: center;
}

.app__title {
  margin-bottom: 10px;
  text-align: center;
}

.app__searchForm {
  display: flex;
  justify-content: center;
}

.app__inputTitle , .app__inputNumber{
  background-color: #F1F1F1;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  padding: 10px;
  width: 300px;
}

.app__channels {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.channelCard {
  box-shadow: 1px 1px 10px #CACACA;
  margin: 1rem;
  padding: 1rem;
}

.channelCard__top {
  display: flex;
}

.channelCard__img {
  max-width: 72px;
}

.channelCard__title {
  font-weight: 600;
}

.channelCard__rightSection {
  margin-left: 1rem;
}

.channelCard__bottom {
  margin-top: 1.5rem;
}

.channelCard__button {
  text-decoration: none;
}



@media (min-width: 768px) {
  .channelCard {
    width: 40%;
  }

  .app__channels {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .channelCard {
    width: 25%;
  }
}

