.app {

}

.app__header {
  background-image: linear-gradient(to right bottom, rgb(230, 0, 125), rgb(231, 38, 71));
  color: #FFF;
  padding: 10px 0 20px;
}

.app__form {
  text-align: center;
  justify-content: center;
}

.app__title {
  margin-bottom: 10px;
  text-align: center;
}

.app__searchForm {
  display: flex;
  justify-content: center;
}

.app__inputTitle , .app__inputNumber{
  background-color: #F1F1F1;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  padding: 10px;
  width: 300px;
}

.app__channels {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  width: 1080px;
}

@media (max-width: 992px) {
  .app__channels {
    grid-template-columns: auto;
    width: 375px;
    margin: 0 auto;
  }
}