.channel {
    margin: 0 auto;
    width: 1080px;
}

.channel__header {
    display: flex;
    margin-top: 20px;
}

.channel__img {
    max-width: 72px;
}

.channel__rightSection {
    margin-left: 1rem;
}

.channel__description {
    margin-top: 1rem;
}

.channel_date {
    margin-right: 10px;
}

.channel_detail {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.channel_scheduleList {
    display: flex;
    flex-direction: row;
}

.channel_time {
    margin-right: 10px;
}
