.channel_page {
    max-width: 100%;
    flex-wrap: wrap;
}

.channel_header {
    background-image: linear-gradient(to right bottom, rgb(230, 0, 125), rgb(231, 38, 71));
    padding: 20px;
    color: #FFFFFF;
    display: flex;
}

.channel_img {
    max-width: 72px;
}

.channel_rightSection {
    margin-left: 1rem;
}

.channel_description {
    margin: 20px 20px;
}

.channel_date {
    margin-right: 10px;
}

.channel_detail , .channel_list {
    margin: 0 20px;
}

.channel_detail {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;   
}

.channel_detail::-webkit-scrollbar {
    display: none;
}

.channel_scheduleList {
    display: flex;
    flex-direction: row;
}

.channel_time {
    margin-right: 10px;
}